:root {
  font-size: 14pt;
  font-family: "Courier New", Courier, monospace;
  color: #efefef;
  --base-color: black;
  --contrast: white;
  background-color: var(--base-color);
}

body {
  height: 98vh;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  box-sizing: border-box;
}

.param-row {
  margin-right: inherit;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-width: 0;
}

.param-row > * {
  padding-left: 0.3rem;
}

.param-input {
  width: 100%;
  background-color: var(--base-color);
  border-color: var(--base-color);
  color: var(--contrast);
  border: 0;
}

.settingAvailable {
  text-align: center;
  width: 1ch;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  flex: 0 3 auto;
}

.paramName {
  color: cyan;
  width: 14ch;
}

.paramDescription {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex: 2 5 auto;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
}

.previousSetting {
  text-align: right;
  color: magenta;
  text-overflow: ellipsis;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  flex: 0 4 auto;
}

.currentSetting {
  text-align: center;
  color: yellow;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  flex: 0 3 auto;
}

.bypassed {
  text-align: right;
  color: red;
  width: 1ch;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  flex: 0 2 auto;
}

.currentReading {
  text-align: center;
  color: limegreen;
}

.units {
  text-align: right;
  width: 4ch;
}

.currentStatus {
  text-align: left;
  width: 5ch;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  flex: 0 2 auto;
}
