:root {
  font-size: 14pt;
  font-family: "Courier New", Courier, monospace;
  color: #efefef;
  background-color: black;
}

body {
  height: 98vh;
  display: grid;
  justify-content: center;
}

.paramPage {
  display: grid;
  grid-template-columns:
    [settingAvailable] 1ch
    [paramName] minmax(max-content, auto)
    [paramDescription] minmax(0, auto)
    [previousSetting] auto
    [currentSetting] auto
    [bypassed] 1ch
    [currentReading] auto
    [units] 4ch
    [currentStatus] 5ch;
  overflow: hidden;
  max-width: 84rem;
  gap: 0 1ch;
}

.settingAvailable {
  grid-column: settingAvailable;
  text-align: center;
}

.paramName {
  grid-column: paramName;
  color: green;
}

.paramDescription {
  grid-column: paramDescription;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.previousSetting {
  grid-column: previousSetting;
  text-align: right;
  color: magenta;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.currentSetting {
  grid-column: currentSetting;
  text-align: center;
}

.bypassed {
  grid-column: bypassed;
  text-align: right;
  color: red;
}

.currentReading {
  grid-column: currentReading;
  text-align: center;
}

.units {
  grid-column: units;
  text-align: right;
}

.currentStatus {
  grid-column: currentStatus;
  text-align: left;
}
