:root {
  font-size: 14pt;
  font-family: "Courier New", Courier, monospace;
  color: #efefef;
  --base-color: black;
  --contrast: white;
  background-color: var(--base-color);
}

body {
  height: 98vh;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  box-sizing: border-box;
}

.param-row {
  margin-right: inherit;
}

.param-input {
  width: 100%;
  background-color: var(--base-color);
  border-color: var(--base-color);
  color: var(--contrast);
}

.paramPage {
  display: grid;
  grid-template-columns: 1ch minmax(max-content, auto) minmax(0, auto) auto auto 1ch auto 4ch 5ch;
  overflow: hidden;
  max-width: 84rem;
  gap: 0 1ch;
}

.settingAvailable {
  text-align: center;
}

.paramName {
  color: green;
}

.paramDescription {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.previousSetting {
  text-align: right;
  color: magenta;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.currentSetting {
  text-align: center;
}

.bypassed {
  text-align: right;
  color: red;
}

.currentReading {
  text-align: center;
}

.units {
  text-align: right;
}

.currentStatus {
  text-align: left;
}
